/* Coolors Exported Palette - coolors.co/c2948a-7ea8be-564787-f8f0fb-dbcbd8 */

/* HSL */
$color1: hsla(11%, 31%, 65%, 1);
$color2: hsla(201%, 33%, 62%, 1);
$color3: hsla(254%, 31%, 40%, 1);
$color4: hsla(284%, 58%, 96%, 1);
$color5: hsla(311%, 18%, 83%, 1);

